.system-view {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.system-view .grid-wrapper {
    flex-grow: 1;
    width: 100%;
}

.system-view .full-size {
    width: 100%;
    height: 100%;
}

.system-view #editor-layout {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.system-view #editor {
    padding: var(--lumo-space-l);
    flex-grow: 1;
}

.system-view #button-layout {
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--lumo-contrast-5pct);
    padding: var(--lumo-space-s) var(--lumo-space-l);
}